<button (click)="createNewProduct()">create</button>
<div class="products-grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="AddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Cargar más</button>
  <app-product-detail
    (detailClosed)="toggleProductDetail($event)"
    [showProductDetail]="showProductDetail"
    [productId]="productId"
    [class.active]="showProductDetail">
  </app-product-detail>
</div>
