<div class="show-mobile">
  <div class="menu-mobile_container">
    <button class="menu-btn">
      <img class="menu-btn_img" src="../../../assets/icons/menu.svg" alt="menu" />
    </button>
    <p>
      <a href="#" class="logo">Pasokon</a>
    </p>
    <a class="cart-link" href="#">
      <img class="cart_img" src="../../../assets/icons/cart.svg" alt="logo" />
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div class="menu-desktop_container">
    <nav>
      <p class="logo-container">
        <a href="" class="logo">Pasokon</a>
      </p>
      <ul class="nav-links">
        <li><a class="nav-link special" href="">All</a></li>
        <li><a class="nav-link" href="">Mouse</a></li>
        <li><a class="nav-link" href="">Keyboard</a></li>
      </ul>
    </nav>
    <div class="user-info">
      <p class="user-nickName">leonel@leonel</p>
      <div class="cart-container">
        <a class="cart-link_desktop" href="">
          <img class="cart_img" src="../../../assets/icons/cart.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
